div { margin-top: 120px; text-align: center; }
.fa { color: #ff4136; font-size: 50px; line-height: 50px; }
/* color from http://clrs.cc/ - holler */

@-webkit-keyframes heartbeat{
    0%{-webkit-transform:scale(1)}
    50%{-webkit-transform:scale(1.4)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes heartbeat{
    0%{-moz-transform:scale(1)}
    50%{-moz-transform:scale(1.4)}
    100%{-moz-transform:scale(1)}
}
@-o-keyframes heartbeat{
    0%{-o-transform:scale(1)}
    50%{-o-transform:scale(1.4)}
    100%{-o-transform:scale(1)}
}
@keyframes heartbeat{
    0%{transform:scale(1)}
    50%{transform:scale(1.4)}
    100%{transform:scale(1)}
}
.heartbeat{ -webkit-animation-name:heartbeat; -moz-animation-name:heartbeat; -o-animation-name:heartbeat; animation-name:heartbeat; }
.animate-infinite-heartbeat { -webkit-animation: heartbeat 2s infinite; /* Chrome, Safari, Opera */ animation: heartbeat 2s infinite; }

#para{
    font-family: monospace;
    font-size: 3em;
    text-align: center;
}
#pic{
    width: 50vx;
    height: 50vh;
   margin-left: 30%;
    width:40%;
}
#para1{
    font-family: monospace;
    font-size: 2em;
    text-align: center;
}